/* Reset básico para remover margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 22px;
    background-color: #333;
    color: #fff;
}

header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #444;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffa500;
}

/* Seção principal */
main {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    text-align: left;
    padding: 8px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

/* Videos */
.video-container {
    margin: 20px 0;
    text-align: left;
}

.video-container video {
    width: 100%;
    max-width: 144px; /* Reduz a largura para vídeos verticais */
    height: auto;
    max-height: 256px; /* Define uma altura máxima menor */
    object-fit: contain; /* Preserva o aspecto do vídeo */
}
